{% extends 'base.html' %}

{% block title %}
    <title>profile</title>
{% endblock  %}

{% block content %}
    full_name: {{ user.full_name }} </br>
    username {{ user.username }} </br>
    email: {{ user.email }} </br>
    mobbile phone: {{ user.mobile_phone }} </br></br>


    {% if request.user.id != user.id and not is_following %}
        <a class='btn btn-primary' href='{% url "accounts:user_follow" user.id %}' >follow</a>
    
    {% elif request.user.id != user.id and is_following%}
        <a class='btn btn-primary' href='{% url "accounts:user_unfollow" user.id %}' >unfollow</a>

    {% endif %}





{% endblock  %}