{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>sign in</title>
{% endblock  %}

{% block content %}
    <section class='section-login'>
        <form action='' method='post' novalidate class='m-2'>
            {% csrf_token %}
            {{ form }}
            <input type='submit' value='login' class='btn-login btn btn-primary'>
        </form> 

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="{% url "accounts:password_reset" %}">forget password</a></li>
              <li class="breadcrumb-item"><a href="{% url "accounts:logup" %}">create account</a></li>
              <li class="breadcrumb-item"><a href="{% url "post:home" %}">Home</a></li>
            </ol>
          </nav>
    </section>
{% endblock  %}