{% extends 'base.html' %}

{% block title %}
    <title>sign in</title>
{% endblock  %}

{% block content %}
    <form action='' method='post' novalidate>
        {% csrf_token %}
        {{ form }}
        <input type='submit' value='login' class='btn btn-primary'>
    </form> 
    <a href='{% url "accounts:password_reset" %}'>forget password</a> </br> 
    <a href='{% url "accounts:logup" %}'>i have accounts</a>
    {% comment %} <a href='{% url "accounts:login_mobile" %}' class='btn btn-info'>you can log in with email</a> {% endcomment %}
{% endblock  %}