{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock  %}

{% block content %}
    {% comment %} <section class='text-center mb-5'>
        <form method='post' action='' >
            {% csrf_token %}
            {{ create.as_p }}
        </form>
    </section> {% endcomment %}

    {% if request.user.is_authenticated %}
        <a href='{% url "post:post_create" request.user.id %}'>create post</a>
    {% endif %}

    <section class='text-center'>
        {% for posts in post  %}
                {{ posts.user }} </br>
                <a href='{{ posts.get_absolute_url }}'>{{ posts.body }}</a> </br>
                {{ posts.image }} </br>
                {{ posts.video }} </br>
                location: {{ posts.location }} </br>
                create : {{ posts.create_at }} </br> </br>
        {% endfor %}
    </section>
{% endblock  %}