{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock  %}

{% block content %}
    <section class='text-center'>
        {% for posts in post  %}
                {{ posts.user }} </br>
                <a href='{{ posts.get_absolute_url }}'>{{ posts.body }}</a> </br>
                {{ posts.image }} </br>
                {{ posts.video }} </br>
                location: {{ posts.location }} </br>
                create : {{ posts.create_at }} </br> </br>
        {% endfor %}
    </section>
{% endblock  %}